.head-line {
  margin-top: 1em;
  display: flex;
  justify-content: center;
}
.head-line svg {
  width: 430px;
}
.menus {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border-top: 1px solid #ebebeb;
  border-bottom: 4px double black;
}
.menus button {
  border: none;
  background-color: white;
  margin: 5px;
}
.menus button:hover {
  background-color: beige;
}
.news-img {
  max-width: 100%;
  max-height: 250px;
}
.news {
  border-bottom: 2px solid black;
  margin: 10px;
  display: flex;
  align-items: center;
}
.navbar-nav {
  display: flex;
  justify-content: center; 
  width: 100%; 
}

.none{
  display: none;
}

#searchDiv{
  display:flex;
  flex-direction: row;

}
#showSearch{
  background-color: white;
  border:none;
 
}
.navbar-toggler{
  border: 2px solid black;
}

.pagination{
  display:flex;
  justify-content: center;
  color:black;
}
.page-link{
  color:black;
}
.active>.page-link{
  background-color: black;
  color:white;
}
